.enconstruccion {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Ajusta la altura según tus necesidades */
    color: white;
    font-weight: bold;
}

.typing-animation {
    display: inline-block;
    overflow: hidden;
    border-right: 2px solid blueviolet;
    padding-right: 5px;
    white-space: nowrap;
    font-weight: lighter;
    margin: 0 auto;
    animation: typing 3s steps(20, end), cursor 0.5s step-end infinite;
}

@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

@keyframes cursor {
    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: blueviolet;
    }
}